html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: grey;
  overflow: hidden;
  height: inherit;
  width: inherit;
}

h2 {
  font-size: 18px !important;
  text-align: center !important;
  font-family: Lobster, Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
  color: #5ebed2 !important;
  letter-spacing: 2px !important;
  text-shadow: 1px 1px 10px white;
  -webkit-transition-duration: .60s;
  -moz-transition-duration: .60s;
  -o-transition-duration: .60s;
  transition-duration: .60s;
  cursor: default;
}
h2:hover {
  letter-spacing: 4px !important;
  text-shadow: none;
  -webkit-transition-duration: .60s;
  -moz-transition-duration: .60s;
  -o-transition-duration: .60s;
  transition-duration: .60s;
}

canvas {
  width: 100%;
  height: 100%;
  position: relative;
}

@import url('https://fonts.googleapis.com/css?family=Lato');
body,
html {
  height: 100%;
  background: #222222;
  font-family: 'Lato', sans-serif;
}

.container {
  display: block;
  position: relative;
  margin: 40px auto;
  height: auto;
  width: 500px;
  padding: 20px;
}

h2 {
  color: #AAAAAA;
}

ul {
  list-style: none;
  margin: 0 0 0 12px;
  padding: 0;
  overflow: auto;
}

ul li {
  color: #AAAAAA;
  display: block;
  position: relative;
  float: left;
  width: 100%;
  height: 70px;
}

ul li input[type=radio] {
  position: absolute;
  visibility: hidden;
}

ul li label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  /* padding: 25px 25px 25px 80px; */
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
}

ul li:hover label {
  color: #FFFFFF;
}

ul li .check {
  display: none;
  position: absolute;
  border: 5px solid #AAAAAA;
  border-radius: 100%;
  height: 25px;
  width: 25px;
  top: 30px;
  left: 0px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear;
}

ul li:hover .check {
  border: 5px solid #FFFFFF;
}

ul li .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 15px;
  width: 15px;
  top: 5px;
  left: 5px;
  margin: auto;
  transition: background 0.25s linear;
  -webkit-transition: background 0.25s linear;
}

input[type=radio]:checked~.check {
  border: 5px solid #5ebed2;
}

input[type=radio]:checked~.check::before {
  background: #5ebed2;
}

input[type=radio]:checked~label {
  color: #5ebed2;
}

input[type=text],
select,
textarea {
  font-size: 12px;
  width: 100px;
  margin: 6px 10px -6px 14px;
  padding: 2px 8px;
  border: 1px solid #AAAAAA;
  border-radius: 4px;
  resize: vertical;
  float: right;
}

.labelForm {
  font-size: 12px;
  color: #b9bcc7;
  margin: -6px 5px 6px 14px;
  padding: 3px 0px 6px 0px;
  display: inline-block;
  font-weight: bold;
}

.textureContainer {
  background: #15161a;
  width: 175px;
  height: 100px;
  margin: 15px 15px 15px 15px;
  border-radius: 2px;
  overflow: auto;
}

.textureItem {
  width: 40px;
  height: 40px;
  border-radius: 2px;
  margin: 5px 5px 5px 5px;
  position: relative;
  cursor: pointer;
}

.catalogContainer {
  background: #15161a;
  width: 175px;
  height: 100px;
  margin: 15px 15px 15px 15px;
  border-radius: 2px;
  overflow: hidden;
}

.catalogIcon {
  color: #5ebed2;
  margin: 5px 5px 5px 5px;
  cursor: pointer;  
}

.catalogIcon:hover {
  background: #4c4d54;
  border-radius: 4px;
  -webkit-transition-duration: .60s;
  -moz-transition-duration: .60s;
  -o-transition-duration: .60s;
  transition-duration: .60s;
}

.catalogIcon:focus   {
  text-shadow: 1px 1px 10px white;
}

.iconDescription {
  font-size: 5px;
  color: grey;
  text-align: center;
  font-weight: bold;
  cursor: pointer;  
}

.catalogButtons {
  margin: -10px 0px 0px 5px;
}

.catalogButtons button {
  color: white;
  margin-right: 7px;
  background: #5ebed2;
  box-shadow: none;
  border: none;
  font-size: 14px;
  padding: 5px 34px 5px 34px;
  border-radius: 2px;
  -webkit-transition-duration: .60s;
  -moz-transition-duration: .60s;
  -o-transition-duration: .60s;
  transition-duration: .60s;
  cursor: pointer;  
  outline: none;
}
.catalogButtons button:hover {
  background: #4c4d54;
  border-radius: 4px;
  -webkit-transition-duration: .60s;
  -moz-transition-duration: .60s;
  -o-transition-duration: .60s;
  transition-duration: .60s;
}

#containingClosetSelector {
  width: 100%;
  font-size: 10px;
  padding: 5px 5px 5px 5px;
  background: #4c4d54;
  color: #15161a;
  text-shadow: none;
  box-shadow: none;
  border: none;
}

select {
  outline: none !important;
}

.input2 {
  width: 10px; margin: 0px 0px 0px 10px; padding: 4px 8px;
}

#partData{
  width: 175px;
  height: 150px;
  margin: 0px 5px 0px 15px;
  overflow: hidden;
}

::-moz-selection { 
background: #4c4d54;
color: #fff;
text-shadow: 1px 1px 1px #15161a;
}

::selection { 
background: #4c4d54;
color: #fff;
text-shadow: 1px 1px 1px #15161a;
}

::-webkit-scrollbar-thumb:vertical { /*barra vertical que se move*/
background: #4c4d54;
border-radius: 5px;
}
::-webkit-scrollbar { /*barra vertical fixa*/
width: 8px;
background: #CED5D5;
}